<!DOCTYPE html>
{% load cache %}
{% cache 604800 data_page %}
<html>
<head>
  {% load staticfiles %}

  <title>数据显示页面</title>
  <!--mobile apps-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />

  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--mobile apps-->
  <!--Custom Theme files -->

  <link href="{% static 'data/css/bootstrap.css'%}" type="text/css" rel="stylesheet" media="all">
  <link href="{% static 'data/css/style.css'%}" type="text/css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="{% static 'data/css/lightbox.css'%}">
  <!-- //Custom Theme files -->
  <!-- js -->
  <script src="{% static 'data/js/jquery-1.11.1.min.js'%}"></script>
  <!-- //js -->
  <!--web-fonts-->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <!--//web-fonts-->
  <!--animate-->
  <link href="{% static 'data/css/animate.css'%}" rel="stylesheet" type="text/css" media="all">
  <script src="{% static 'data/js/wow.min.js'%}"></script>

  <script>
		new WOW().init();
	</script>
  <!--//end-animate-->
  <!-- start-smoth-scrolling-->
  <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
  <style>
	.rec {
		margin-top: 50px;
		margin-bottom:30px;
		margin-left: 50px;
		margin-right: 50px;
		padding: 10px;
		overflow:auto;
		background: rgba(30,30,30,0.8);
	}
	.banner-right
	{
		position: relative;
	}
	.banner-right-1
	{
		position: relative;
	}
	.banner-right-2
	{
		position: relative;
	}
	.banner-right-3
	{
		position: relative;
	}
	.bnr-btm-left
	{
		position: relative;
	}
	.bnr-btm-left-1
	{
		position: relative;
	}
	.bnr-btm-left-2
	{
		position: relative;
	}
	.bnr-btm-left-3
	{
		position: relative;
	}
	li
	{
		white-space:nowrap;

		text-overflow:ellipsis;
		overflow: hidden;
		margin: 5px;
		padding: 0;
		position: relative;

	}

	li a
	{
		width: 400px;
	}

	ol {
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow: hidden;

		display: block;
		list-style-type: decimal;
		-webkit-margin-before: 3em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 17px;
	}
</style>
</head>
<body>
<!-- main content start-->
<div id="page-wrapper">
  <!--第一个模块-->
  <div class="banner" id="home">
    <div class="banner-right">
      <div class=rec>
        <p class="tit">
          <span class="s1">实时热点</span>
        </p>
        <ol>
          <li>
            <span class="top">1</span>

            <a href="{% url 'app_detail' hot_article_list.0.id %}" target="_blank">{{hot_article_list.0.title| slice:':30'}}</a>

            <span class="num">{{hot_article_list.0.hot}}<i class="up">&nbsp;&nbsp;&nbsp;</i></span>
          </li>

          <li>
            <span class="top">2</span>
            <a href="{% url 'app_detail' hot_article_list.1.id %}" target="_blank">{{hot_article_list.1.title| slice:':30'}}</a>
            <span class="num">{{hot_article_list.1.hot}}<i class="up">&nbsp;&nbsp;&nbsp;</i></span>
          </li>

          <li>
            <span class="top">3</span>
            <a href="{% url 'app_detail' hot_article_list.2.id %}" target="_blank">{{hot_article_list.2.title| slice:':30'}}</a>
            <span class="num">{{hot_article_list.2.hot}}<i class="up">&nbsp;&nbsp;&nbsp;</i></span>
          </li>

          <li>
            <span class="top">4</span>
            <a href="{% url 'app_detail' hot_article_list.3.id %}" target="_blank">{{hot_article_list.3.title| slice:':30'}}</a>
            <span class="num">{{hot_article_list.3.hot}}<i class="up">&nbsp;&nbsp;&nbsp;</i></span>
          </li>

          <li>
            <span class="top">5</span>
            <a href="{% url 'app_detail' hot_article_list.4.id %}" target="_blank">{{hot_article_list.4.title| slice:':30'}}</a>
            <span class="num">{{hot_article_list.4.hot}}<i class="up">&nbsp;&nbsp;&nbsp;</i></span>
          </li>

          <li>

            <span class="top">6</span>

            <a href="{% url 'app_detail' hot_article_list.5.id %}" target="_blank">{{hot_article_list.5.title| slice:':30'}}</a>

            <span class="num">{{hot_article_list.5.hot}}<i class="up">&nbsp;&nbsp;&nbsp;</i></span>

          </li>

          <li><span class="top">7</span>
            <a href="{% url 'app_detail' hot_article_list.6.id %}" target="_blank">{{hot_article_list.6.title| slice:':30'}}</a>
            <span class="num">{{hot_article_list.6.hot}}<i class="up">&nbsp;&nbsp;&nbsp;</i></span>
          </li>

          <li><span class="top">8</span>
            <a href="{% url 'app_detail' hot_article_list.7.id %}" target="_blank">{{hot_article_list.7.title| slice:':30'}}<br></a>
            <span class="num">{{hot_article_list.7.hot}}<i class="up">&nbsp;&nbsp;&nbsp;</i></span>
          </li>

          <li><span class="top">9</span>
            <a href="{% url 'app_detail' hot_article_list.8.id %}" target="_blank">{{hot_article_list.8.title| slice:':30'}}<br></a>
            <span class="num">{{hot_article_list.8.hot}}<i class="up">&nbsp;&nbsp;&nbsp;</i></span>
          </li>

          <li><span class="top">10</span>
            <a href="{% url 'app_detail' hot_article_list.9.id %}" target="_blank">{{hot_article_list.9.title| slice:':30'}}</a>
            <span class="num">{{hot_article_list.8.hot}}<i class="up">&nbsp;&nbsp;&nbsp;</i></span>
          </li>
        </ol>
      </div>
    </div>
    <div class="banner-left">
      <!--navigation-->

      <!--//navigation-->
      <div class="banner-text">
        <h2 class="wow fadeInDownBig animated" data-wow-delay=".5s">西工大 <br>周热度排行榜</h2>
        <p class="wow fadeInUpBig animated" data-wow-delay=".5s">一周内最热门的十片文章，其中前三篇分别来自{{hot_article_list.0.publisher.name}}、
          {{hot_article_list.1.publisher.name}}、{{hot_article_list.2.publisher.name}}.
        </p>
        <a href="{% url 'index' %}" class="buy btn-wayra wow zoomInRight animated" data-wow-delay=".5s">更多</a>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!--//banner-->

  <!--第二个模块-->
  <div class="banner-bottom">
    <div class="bnr-btm-left">
      <div class="rec">
        <canvas id="myChart1" width="400px" height="400px"  class="chartjs-render-monitor"></canvas>
      </div>

    </div>
    <div class="bnr-btm-right">
      <h3 class="wow fadeInRight animated" data-wow-delay=".5s">西工大<br/>周内热词排行榜</h3>
      <p class="wow fadeInRight animated" data-wow-delay=".5s"> 通过热门词汇，你会发现当前流行的网络语，并能迅速得知当前的热门话题.</p>
      <a href="{% url 'index' %}" class="buy btn-wayra wow zoomIn animated" data-wow-delay=".5s">导航</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <!--//banner-bottom-->
  <!--第三个模块-->
  <div class="banner" id="home2">
    <div class="banner-right-1">
      <div class=rec>
        <canvas id="myChart2" width="400px" height="400px"  class="chartjs-render-monitor"></canvas>
      </div>
    </div>
    <div class="banner-left">
      <!--navigation-->

      <!--//navigation-->
      <div class="banner-text">
        <h2 class="wow fadeInDownBig animated" data-wow-delay=".5s">西工大<br>发布者被关注的数量</h2>
        <p class="wow fadeInUpBig animated" data-wow-delay=".5s">发布者获得的关注越多，说明其发布的内容质量更好，更能得到读者的信任和喜爱.</p>
        <a href="{% url 'pub_list' %}" class="buy btn-wayra wow zoomInRight animated" data-wow-delay=".5s">更多</a>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!--//gallery-->
  <!--第四个模块-->
  <div class="banner-bottom">
    <div class="bnr-btm-left-1">
      <div class="rec">
        <canvas id="myChart3" width="400px" height="400px"  class="chartjs-render-monitor"></canvas>
      </div>

    </div>
    <div class="bnr-btm-right">
      <h3 class="wow fadeInRight animated" data-wow-delay=".5s">西工大<br/>发布者热度排行榜</h3>
      <p class="wow fadeInRight animated" data-wow-delay=".5s">发布者在一周内，发布了一篇或多篇受到广泛关注的文章，获得大量点赞，说明发布者有较强的get热点的能力</p>
      <a href="{% url 'pub_list' %}" class="buy btn-wayra wow zoomIn animated" data-wow-delay=".5s">更多</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <!--//第五个模块-->
  <div class="banner" id="home3">
    <div class="banner-right-2">
      <div class=rec>
        <canvas id="myChart4" width="400px" height="400px" class="chartjs-render-monitor"></canvas>
      </div>
    </div>
    <div class="banner-left">
      <!--navigation-->

      <!--//navigation-->
      <div class="banner-text">
        <h2 class="wow fadeInDownBig animated" data-wow-delay=".5s">西工大 <br>文章类别的分布</h2>
        <p class="wow fadeInUpBig animated" data-wow-delay=".5s">通过智能的分类系统，我们将文章划分为不同的类别，每种类别中文章的比例，能够反映当前发布者发布文章的倾向性.</p>
        <a href="{% url 'index' %}" class="buy btn-wayra wow zoomInRight animated" data-wow-delay=".5s">更多</a>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!--//第六个模块-->
  <div class="banner-bottom">
    <div class="bnr-btm-left-2">
      <div class="rec">
        <canvas id="myChart5" width="400px" height="400px" class="chartjs-render-monitor"></canvas>
      </div>

    </div>
    <div class="bnr-btm-right">
      <h3 class="wow fadeInRight animated" data-wow-delay=".5s">西工大<br/>文章类别热度分布</h3>
      <p class="wow fadeInRight animated" data-wow-delay=".5s">每一个类别，都会引起不同人群的兴趣，类别越受欢迎，就说明这一类文章越能引起人们的喜爱.</p>
      <a href="{% url 'index' %}" class="buy btn-wayra wow zoomIn animated" data-wow-delay=".5s">更多</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--第七个模块-->
  <div class="banner" id="home4">
    <div class="banner-right-3">
      <div class=rec>
        <canvas id="myChart6" width="400px" height="400px" class="chartjs-render-monitor"></canvas>
      </div>
    </div>
    <div class="banner-left">
      <!--navigation-->

      <!--//navigation-->
      <div class="banner-text">
        <h2 class="wow fadeInDownBig animated" data-wow-delay=".5s">西工大<br>文章来源数量分布</h2>
        <p class="wow fadeInUpBig animated" data-wow-delay=".5s">当前人们获取校园文章的方式各种各样，微信、西工大官网、校园网站等，不同来源的文章分布，能够说明发布者更喜欢哪一种发布渠道，也能体现文章媒介的变化.</p>
        <a href="{% url 'index' %}" class="buy btn-wayra wow zoomInRight animated" data-wow-delay=".5s">更多</a>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!--第八个模块-->
  <div class="banner-bottom">
    <div class="bnr-btm-left-3">
      <div class="rec">
        <canvas id="myChart7" width="400px" height="400px" class="chartjs-render-monitor"></canvas>
      </div>

    </div>
    <div class="bnr-btm-right">
      <h3 class="wow fadeInRight animated" data-wow-delay=".5s">西工大<br/>文章来源热度分布</h3>
      <p class="wow fadeInRight animated" data-wow-delay=".5s">人们可以通过各种方式获取文章，热度分布，反映了读者通过何种平台获取文章最为广泛，体现了读者对不同文章平台的观点.</p>
      <a href="{% url 'index' %}" class="buy btn-wayra wow zoomIn animated" data-wow-delay=".5s">更多</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--copy-right-->
  <div class="copy-right">
    <div class="container">
      <p class="wow bounceIn animated" data-wow-delay=".5s">特别鸣谢：前端工程师张鹏光，图片提供者董金国、许恒灼<br/>Copyright &copy;西北工业大学-西工大cybeTech小组<br/><a href="http://www.miitbeian.gov.cn/" title="备案号" target="_blank">ICP主体备案号 陕ICP备18002962号</a></p>
    </div>
  </div>
  <!--//copy-right-->
</div>
<!--//main content start-->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'data/js/bootstrap.js' %}"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<!-- 绘制1水平柱状图 -热词排行榜 -->
<script type="text/javascript">
		// 设置全局的属性
		Chart.defaults.global.defaultFontColor = 'rgba(255,255, 255, 0.7)';
		Chart.defaults.global.defaultFontFamily = "'宋体','楷体','sans-serif', 'Arial'";
		Chart.defaults.global.defaultFontSize  = 16;
		// 图标的数据
		var horizontalBarChartData = {
			labels: ["{{use_tag.0.name}}", "{{use_tag.1.name}}", "{{use_tag.2.name}}", "{{use_tag.3.name}}", "{{use_tag.4.name}}", "{{use_tag.5.name}}",
      "{{use_tag.6.name}}","{{use_tag.7.name}}","{{use_tag.8.name}}","{{use_tag.9..name}}"],
			datasets: [{
				label: '标签热度',
				backgroundColor: [
				'rgba(255, 99, 132, 0.7)',
				'rgba(54, 162, 235, 0.7)',
				'rgba(255, 206, 86, 0.7)',
				'rgba(75, 192, 192, 0.7)',
				'rgba(153, 102, 255, 0.7)',
				'rgba(255, 159, 64, 0.7)',
				'rgba(255, 99, 132, 0.7)',
				'rgba(54, 162, 235, 0.7)',
				'rgba(255, 206, 86, 0.7)',
				'rgba(75, 192, 192, 0.7)',
				],
				borderColor: [
				'rgba(255, 99, 132, 0.66)',
				'rgba(54, 162, 235, 0.66)',
				'rgba(255, 206, 86, 0.66)',
				'rgba(75, 192, 192, 0.66)',
				'rgba(153, 102, 255,0.66)',
				'rgba(255, 159, 64, 0.66)',
				'rgba(255, 99, 132, 0.66)',
				'rgba(54, 162, 235, 0.66)',
				'rgba(255, 206, 86, 0.66)',
				'rgba(75, 192, 192, 0.66)',
				],
				hoverBackgroundColor:[
				'rgba(255, 99, 132, 0.66)',
				'rgba(54, 162, 235, 0.66)',
				'rgba(255, 206, 86, 0.66)',
				'rgba(75, 192, 192, 0.66)',
				'rgba(153, 102, 255,0.66)',
				'rgba(255, 159, 64, 0.66)',
				'rgba(255, 99, 132, 0.66)',
				'rgba(54, 162, 235, 0.66)',
				'rgba(255, 206, 86, 0.66)',
				'rgba(75, 192, 192, 0.66)',
				],
				hoverBorderWidth:2,
				borderWidth: 1,
				data: [{{use_tag.0.number}}, {{use_tag.1.number}}, {{use_tag.2.number}}, {{use_tag.3.number}}, {{use_tag.4.number}},
           {{use_tag.5.number}}, {{use_tag.6.number}},{{use_tag.7.number}},{{use_tag.8.number}},{{use_tag.9.number}}]
			}]

		};

		// 图标的配置
		var horizontalBarChartOption = {
			// 设置元素
			elements: {
				rectangle: {
					borderWidth: 2,
				}
			},
			// 设置画布大小变化的响应
			responsive: true,
			responsiveAnimationDuration:10,

			// 设置图例的位置
			legend: {
				position: 'bottom',
			},
			// 设置标题
			title: {
				display: true,
				text: '热词排行榜'
			},

			// tooltips: {
			// 		mode: 'index',
			// 		intersect: false,
			// },
			// 设置悬停效果
			// hover: {
			// 	mode: 'nearest',
			// 	intersect: true
			// },
			// 设置坐标轴哦
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '热词热度'
					},
					position:'bottom',
					gridLines: {
						drawOnChartArea: false
					},
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '热词名称'
					},
					position:'left',
					// ticks: {
					// 	min: 0,
					// 	max: 100,
					// 	stepSize: 10
					// },
					gridLines: {
						drawOnChartArea: false
					},
				}]
			}

		};
		//var value = context.dataset.data[context.dataIndex];
		var ctx = document.getElementById('myChart1').getContext('2d');
		myHorizontalBar = new Chart(ctx, {
			type: 'horizontalBar',
			data: horizontalBarChartData,
			options: horizontalBarChartOption
		});

	</script>

<!-- 绘制2垂直柱状图 -最具吸引力的发布者排行榜 -->
<script type="text/javascript">
		var ctx = document.getElementById("myChart2");
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ["{{star_publisher_set.0.name}}", "{{star_publisher_set.1.name}}", "{{star_publisher_set.2.name}}", "{{star_publisher_set.3.name}}", "{{star_publisher_set.4.name}}", "{{star_publisher_set.5.name}}",
      "{{star_publisher_set.6.name}}","{{star_publisher_set.7.name}}","{{star_publisher_set.8.name}}","{{star_publisher_set.9..name}}"],
				datasets: [{
					label: '发布者被关注度',
					data:  [{{star_publisher_set.0.num_star}}, {{star_publisher_set.1.num_star}}, {{star_publisher_set.2.num_star}}, {{star_publisher_set.3.num_star}}, {{star_publisher_set.4.num_star}},
           {{star_publisher_set.5.num_star}}, {{star_publisher_set.6.num_star}},{{star_publisher_set.7.num_star}},{{star_publisher_set.8.num_star}},{{star_publisher_set.9.num_star}}],
					backgroundColor: [
					'rgba(255, 99, 132, 0.6)',
					'rgba(54, 162, 235, 0.6)',
					'rgba(255, 206, 86, 0.6)',
					'rgba(75, 192, 192, 0.6)',
					'rgba(153, 102, 255, 0.6)',
					'rgba(255, 159, 64, 0.6)',
					'rgba(255, 99, 132, 0.6)',
					'rgba(54, 162, 235, 0.6)',
					'rgba(255, 206, 86, 0.6)',
					'rgba(75, 192, 192, 0.6)',
					],
					borderColor: [
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192, 0.66)',
					'rgba(153, 102, 255,0.66)',
					'rgba(255, 159, 64, 0.66)',
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192, 0.66)',
					],
					hoverBackgroundColor:[
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192, 0.66)',
					'rgba(153, 102, 255,0.66)',
					'rgba(255, 159, 64, 0.66)',
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192, 0.66)',
					],
					hoverBorderWidth:2,
					borderWidth: 1,
				}]
			},
			options: {
		    	// 设置画布大小变化的响应
		    	responsive: true,
		    	responsiveAnimationDuration:10,
				// 设置坐标轴哦
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: false,
							labelString: '发布者名称'
						},
						position:'bottom',
						gridLines: {
							drawOnChartArea: false
						},
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: '发布者被关注度'
						},
						position:'left',
						// ticks: {
						// 	min: 0,
						// 	max: 100,
						// 	stepSize: 10
						// },
						gridLines: {
							drawOnChartArea: false
						},
					}]
				},
				title: {
					display: true,
					text: '最具吸引力的发布者排行榜'
				}
			}
		});
	</script>

<!-- 绘制3垂直柱状图-最受欢迎的发布者排行榜 -->
<script type="text/javascript">
		var ctx = document.getElementById("myChart3");
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ["{{hot_publisher_list.0.name}}", "{{hot_publisher_list.1.name}}", "{{hot_publisher_list.2.name}}", "{{hot_publisher_list.3.name}}", "{{hot_publisher_list.4.name}}", "{{hot_publisher_list.5.name}}",
      "{{hot_publisher_list.6.name}}","{{hot_publisher_list.7.name}}","{{hot_publisher_list.8.name}}","{{hot_publisher_list.9..name}}"],
				datasets: [{
					label: '受欢迎程度',
					data: [{{hot_publisher_list.0.hot}}, {{hot_publisher_list.1.hot}}, {{hot_publisher_list.2.hot}}, {{hot_publisher_list.3.hot}}, {{hot_publisher_list.4.hot}},
           {{hot_publisher_list.5.hot}}, {{hot_publisher_list.6.hot}},{{hot_publisher_list.7.hot}},{{hot_publisher_list.8.hot}},{{hot_publisher_list.9.hot}}],
					backgroundColor: [
					'rgba(255, 99, 132, 0.6)',
					'rgba(54, 162, 235, 0.6)',
					'rgba(255, 206, 86, 0.6)',
					'rgba(75, 192, 192, 0.6)',
					'rgba(153, 102, 255, 0.6)',
					'rgba(255, 159, 64, 0.6)',
					'rgba(255, 99, 132, 0.6)',
					'rgba(54, 162, 235, 0.6)',
					'rgba(255, 206, 86, 0.6)',
					'rgba(75, 192, 192, 0.6)',
					],
					borderColor: [
					'rgba(255, 99, 132,0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86,0.66)',
					'rgba(75, 192, 192, 0.66)',
					'rgba(153, 102, 255,0.66)',
					'rgba(255, 159, 64, 0.66)',
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192, 0.66)',
					],
					hoverBackgroundColor:[
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192, 0.66)',
					'rgba(153, 102, 255,0.66)',
					'rgba(255, 159, 64, 0.66)',
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192, 0.66)',
					],
					hoverBorderWidth:2,
					borderWidth: 1
				}]
			},
			options: {
				// 设置坐标轴哦
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: false,
							labelString: '发布者名称'
						},
						position:'bottom',
						gridLines: {
							drawOnChartArea: false
						},
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: '发布者受欢迎度'
						},
						position:'left',
						// ticks: {
						// 	min: 0,
						// 	max: 100,
						// 	stepSize: 10
						// },
						gridLines: {
							drawOnChartArea: false
						},
					}]
				},
				title: {
					display: true,
					text: '最受欢迎的发布者排行榜'
				}
			}
		});
	</script>

<!-- 绘制4饼图-文章类别数量分布 -->
<script type="text/javascript">
		var ctx = document.getElementById("myChart4");
		var myChart = new Chart(ctx, {
			type: 'pie',
			data: {
				labels: ["{{ category_list.0.name}}", "{{category_list.1.name}}", "{{category_list.2.name}}", "{{category_list.3.name}}",
				"{{category_list.4.name}}","{{category_list.5.name}}","{{category_list.6.name}}","{{category_list.7.name}}"],
				datasets: [{
					label: '# of Votes',
					data: [ {{ category_list.0.num_article|default_if_none:"1"}},
					{{ category_list.1.num_article|default_if_none:"1"}},
					{{ category_list.2.num_article|default_if_none:"1"}},
					{{ category_list.3.num_article|default_if_none:"1"}},
					{{ category_list.4.num_article|default_if_none:"1"}},
					{{ category_list.5.num_article|default_if_none:"1"}},
					{{ category_list.6.num_article|default_if_none:"1"}},
					{{ category_list.7.num_article|default_if_none:"1"}}],
					backgroundColor: [
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192, 0.66)',
					'rgba(153, 102, 255,0.66)',
					'rgba(255, 159, 64, 0.66)',
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					],
					borderColor: [
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192, 0.66)',
					'rgba(153, 102, 255,0.66)',
					'rgba(255, 159, 64, 0.66)',
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					],
					hoverBorderWidth:2,
					borderWidth: 1
				}]
			},
			options: {
				title: {
					display: true,
					text: '文章类别数量分布'
				}
			}
		});
	</script>

<!-- 绘制5饼图-文章类别热度分布 -->
<script type="text/javascript">
		var ctx = document.getElementById("myChart5");
		var myChart = new Chart(ctx, {
			type: 'pie',
			data: {
				labels: ["{{ hot_category_list.0.name}}",
				"{{ hot_category_list.1.name}}",
				"{{ hot_category_list.2.name}}",
				"{{ hot_category_list.3.name}}",
				"{{ hot_category_list.4.name}}",
				"{{ hot_category_list.5.name}}",
				"{{ hot_category_list.6.name}}",
				"{{ hot_category_list.7.name}}"],
				datasets: [{
					label: '文章类别热度分布',
					data: [{{ hot_category_list.0.hot|default_if_none:"1"}},
					{{ hot_category_list.1.hot|default_if_none:"1"}},
					{{ hot_category_list.2.hot|default_if_none:"1"}},
					{{ hot_category_list.3.hot|default_if_none:"1"}},
					{{ hot_category_list.4.hot|default_if_none:"1"}},
					{{ hot_category_list.5.hot|default_if_none:"1"}},
					{{ hot_category_list.6.hot|default_if_none:"1"}},
					{{ hot_category_list.7.hot|default_if_none:"1"}}],
					backgroundColor: [
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192, 0.66)',
					'rgba(153, 102, 255,0.66)',
					'rgba(255, 159, 64, 0.66)',
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					],
					borderColor: [
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					'rgba(75, 192, 192,0.66)',
					'rgba(153, 102, 255,0.66)',
					'rgba(255, 159, 64, 0.66)',
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					],
					hoverBorderWidth:2,
					borderWidth: 1
				}]
			},
			options: {
				title: {
					display: true,
					text: '文章类别热度分布'
				},

			}
		});
	</script>

<!-- 绘制6环图-文章来源数量分布 -->
<script type="text/javascript">
		var ctx = document.getElementById("myChart6");
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: {
				labels: ["{{ source_set.0.name}}", "{{ source_set.1.name}}", "{{ source_set.2.name}}"],
				datasets: [{
					label: '文章来源分布',
					data: [{{ source_set.0.num|default_if_none:"1"}},
					{{ source_set.1.num|default_if_none:"1"}},
					{{ source_set.2.num|default_if_none:"1"}}],
					backgroundColor: [
					'rgba(255, 99, 132, 0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',

					],
					borderColor: [
					'rgba(255,99,132,0.66)',
					'rgba(54, 162, 235, 0.66)',
					'rgba(255, 206, 86, 0.66)',
					],
					hoverBorderWidth:2,
					borderWidth: 1
				}]
			},
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: '文章来源数量分布'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
		});
	</script>

<!-- 绘制7环图-文章来源热度分布 -->
<script type="text/javascript">
		var ctx = document.getElementById("myChart7");
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: {
				labels: ["{{ source_set2.0.name}}", "{{ source_set2.1.name}}", "{{ source_set2.2.name}}"],
				datasets: [{
					label: '文章来源热度',
					data: [{{ source_set2.0.hot|default_if_none:"1"}},
					{{ source_set2.1.hot|default_if_none:"1"}},
					{{ source_set2.2.hot|default_if_none:"1"}},],
					backgroundColor: [
					'rgba(75, 192, 192, 0.66)',
					'rgba(153, 102, 255,0.66)',
					'rgba(255, 159, 64, 0.66)'
					],
					borderColor: [
					'rgba(75, 192, 192, 0.66)',
					'rgba(153, 102, 255, 0.66)',
					'rgba(255, 159, 64, 0.66)'
					],
					hoverBorderWidth:2,
					borderWidth: 1
				}]
			},
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: '文章来源热度分布'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
		});
	</script>
</html>

{% endcache %}