{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div id="bd" class="wrp clear-fix">
            <div id="main">
                <div id="detail-title">
                    <ul id="single-nav">
                        <li><a href="{% url 'index' %}">首页</a></li>
                        <li>&gt;</li>
                        <li>
                            <ul class="post-categories">
                                <li><a href="" title="" rel="category">{{ article.category }}</a>
                                </li>
                            </ul>
                        </li>
                        <li>&gt;</li>
                        <li class="title-active"><a href="{% url 'detail' article.pk %}" rel="bookmark">{{ article.title }}</a>
                        </li>
                    </ul>
                </div>
                <div id="post-1951" class="post-1951 post type-post status-publish format-standard hentry category-meida-report">
                    <div class="post-hd">
                        <h1 class="title text-center">{{ article.title }}</h1>
                    </div>
                    <div class="date-read">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                <span class="center-block">
                                    <i class="icon-date text-center"></i><span class="date">{{ article.date_publish|date:"Y年n月d日" }}</span>
                                </span>

                            </div>


                            <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                <div class="wrap ">
                                    <a href="{% url 'pub_detail' article.publisher.pk %}" class="more text-center"><span class="glyphicon glyphicon-user" aria-hidden="true">{{ article.publisher }}</span></a>

                                </div>
                            </div>
                            <br/>
                            <br/>
                        </div>

                        <!-- tags -->
                        <div class="btn-group btn-group-justified" role="group">
                            {% for tag in tag_list %}
                            <a href="{% url 'tag' tag.pk %}" class="btn btn-default">{{ tag.name }} </a>
                            {% endfor %}
                        </div>
                        <br/>
                        <br/>
                        <!-- 图片显示 -->
                        <!--<div class="container">-->
                            <!--<div class="box box-default">-->
                                <!--<div class="box-header">-->

                                <!--</div>-->
                                <!--<div class="box-body">-->

                                <!--</div>-->
                                <!--<div class="box-footer">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <img src="{{article.img.url}}" alt="hello world" onerror="this.src='{{article.publisher.img.url}}'" class="img-responsive center-block img-rounded">

                        <br/>

                    </div>
                    <div class="post-bd">
                        <div class="text-justify line-intent">
                            {{ article.content |linebreaks }}
                        </div>
                    </div>
                    <div class="post-ft">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true">{{ article.click_count}}</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                {% if love %}
                                <span class="glyphicon glyphicon-heart" style="color:red;" aria-hidden="true"> &nbsp;{{ article.love_count }}</span>
                                {% else %}
                                <a href="love/?article_id={{article.id}}"> <span class="glyphicon glyphicon-heart" style="color:#505050;" aria-hidden="true"> &nbsp;{{ article.love_count }}</span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}