<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<title>修改个人信息</title>
		<meta charset="utf-8">
		<link href="{% static 'blog/css/reglogin.css' %}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="main">
		<div class="header" >
			<h1>修改个人信息</h1>
          <p class="text-center">{{request.user.username}}</p>
		</div>
		<p></p>
			<form action="{% url 'person_edit' %}" method="post">
                {% csrf_token %}
				<ul class="left-form">
					<li>
						{{ person_form.sex }}
						<div class="clear"> </div>
					</li>
					<li>
						{{ person_form.age }}
						<div class="clear"> </div>
					</li>
					<li>
                        {{ person_form.phone}}
						<div class="clear"> </div>
					</li>
                  <li>
                        {{ person_form.desc}}
						<div class="clear"> </div>
					</li>
                  <li>头像
                        {{ person_form.img}}
						<div class="clear"> </div>
					</li>
                    <input type="hidden" name="source_url" value="{{ request.META.HTTP_REFERER }}">
					<input type="submit" value="修改">
					<div class="clear"> </div>
				</ul>

				<div class="clear"> </div>
			</form>
	</div>
</body>
</html>