{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

        </div>
        {% for pub in pub_list %}
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="panel panel-default">
                  <div class="panel-body">
                      <img src="{{pub.img.url}}" class="img-responsive center-block img-rounded">
                  </div>
                  <div class="panel-footer">
                      <a href="{% url 'pub_detail' pub.pk %}" class="more text-center"><p class="text-center"> {{ pub.name }} </p></a>
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

{% endblock %}